# Variables
- A variable reserved memory location to store values
- memory allocation for values
### Rules for Variables
- starts with an alphabet or an underscore,followed by digits or alphabets
- should not start with digits or any special character
- case sensitive
- should not be a keyword or reserved word 
- doesnot allow spaces

import keyword
keyword.kwlist

In [1]:
ab=12
_a=10
type(ab)

int

In [2]:
_a

10

In [3]:
&k=87    #variables cannor start with special character,symbol or numbers
67bh=2

SyntaxError: invalid syntax (<ipython-input-3-9383be41f756>, line 1)

In [4]:
_ = 23 #only underscore canalso be used as variable

In [5]:
_

23

In [6]:
integer = 123
strin = "python"
flo = 87.5
boolen = True
print(type(integer))
type(strin)

<class 'int'>

str

In [7]:
a = b = c = 10

In [8]:
a

10

In [9]:
b

10

In [10]:
c

10

In [11]:
a = 23 #it will store only the recently entered values so now a becoms 23

In [12]:
a

23

In [13]:
a1,a2,a3 = 12,"hello",45.8

In [14]:
a1

12

In [15]:
a2,23 #we can append values inbetween

('hello', 23)

In [16]:
a2,a3

('hello', 45.8)

In [17]:
n= int(input(" enter value"))

 enter value 67

In [18]:
n2 = input("enter value")  #either integer or string can be given in output as we did not mention what data type it is

enter value python

In [1]:
n3 = input()

 100

# comments
- single lne comment
   -# comment line
- multi line comment
   - triple single quotes or triple double quotes

In [5]:
#OPERATOR

In [17]:
K= """THIS IS A MULTI LINE COMMENT \
     IN PYTHON """
k

2.3333333333333335

### oPERATORS
- arithmetic
   - +,-,/,%,//
- assignment
  - +=,-=,*=,**=,/=,%=
- comparsion
   - <,>,<=,>=,!=,==
- logical
   - AND,OR,NOT
- bitwise
  - &,|,^,~

- membership
  - in, not in
- identity
  - is, is not

In [3]:
a=20
b=5
c=a/b
d=a*b
c,d

(4.0, 100)

In [11]:
e = a//b
e

4

In [8]:
k=7/3
k

2.3333333333333335

In [13]:
kint = 7//3
kint

2

In [10]:
power = 2** 4
power

16

In [18]:
5>3 and 5<7

True

In [19]:
3<7 and 7<2

False

In [20]:
3<7 & 7<2

False

In [21]:
3<7 or 7<2

True

In [22]:
b =not(3<7 or 4>2)
b

False

In [23]:
not(2)

False

In [24]:
not(0)

True

In [25]:
3<7 | 7<2

False

In [29]:
a =2 #0010 #and
b =3 #0011
a & b

2

In [27]:
c = 4 #0100 #or
d = 5 #0101
c | d

5

In [28]:
c = 4 #0100  #xor
d = 5 #0101
c ^ d

1

In [30]:
~c # (4-->-(4+1))

-5

In [32]:
~66 #-->-(66+1)

-67

In [33]:
 2 >> 6 #0110

0

In [34]:
2 << 4 #0110

32

In [35]:
"a" in "abc"

True

In [36]:
"d" in "abc"

False

In [37]:
h = "abcdef"
"k" not in h

True

In [38]:
li =[1,2,3,5,6] #membership
6 in li

True

In [39]:
li = [1,2,3,4]
10 in li        #membership

False

In [40]:
li = [1,2,3,4]
10  not in li   #membership

True

In [41]:
 a is 100

False

In [42]:
a is not 100

True

In [43]:
id(c)

140735728361968

In [44]:
id(a)

140735728361904