# Tuple
- A tuple is just like a list of sequence of immutable it means unchangable python objects.
- the difference between list and tuple is that list are declared in square brackets []
  and tuple can be declared as paranthesis ().
- cannot ne changed
- it is a collection of unique elements
- A tuple is created by placing all the items inside a parentheses(),seperated by comma.
- it is secured when compared to list as tuple cannot be modified
- syntax of tuple=()

In [1]:
# creating a tuple
tup=()
type(tup)

tuple

In [6]:
tup=(1,"hello",5.2)
type(tup)

tuple

In [7]:
tup[0:2]

(1, 'hello')

In [15]:
x=(10,20,[30,40],50,60)
x[2]
#len(x)

[30, 40]

In [12]:
x[2][0]

30

In [13]:
x[2][1]

40

In [16]:
x=(10,20,[30,40,70],50,60)
x[2][2]

70

In [17]:
# examplle of immutable
a=(1,2,3)
a[0]

1

In [18]:
a[0]=10

TypeError: 'tuple' object does not support item assignment

In [25]:
b=[1,2,3]
b[0]=100
b

[100, 2, 3]

In [26]:
b[0]

100

In [36]:
#
name="sudha"
age="25"
location="vijayawada"
details=(name,age,location)
#details=("name","age","location")
details

('sudha', '25', 'vijayawada')

In [38]:
# comparing tuples
a=(5,6) #(5,6)  as first elements are same we compare the second one.
b=(1,4) #(5,5)
if(a>b):  #5>1,6>4
    print("a is big")
else:
    print("b is big")

a is big

In [43]:
# comparing tuples
a=(5,5) #(5,6)  as first elements are same we compare the second one.
b=(5,5) #(5,5)
if(a>b):  #5>1,6>4
    print("a is big")
elif(a<b):
    print("b is big")
else:
    print("equal")

equal

In [41]:
del tup #deleted
tup

NameError: name 'tup' is not defined

In [44]:
# tuple methods
x=('A','p','s','s','d','c')
x.count('s')

2

In [45]:
x.count('A')

1

In [46]:
x.count('a')

0

In [47]:
x.index('p')

1

In [81]:
#program to conver the given tuple into string
tup=('p','y','t','h','o','n')
string=''.join(tup)
print(string)
type(string)

python

str

# sets
- It is collection of unique elements.
- it is un ordered
- It is used to store collection of data in python.
- It is represented by {} or set()
- we cannot access elements in sets using indexes

In [49]:
s={10,20,"fiza"}
s

{10, 20, 'fiza'}

In [52]:
s={10,20,30,40,20,10} #it takes only unique values
s                     # deletes duplicate elements

{10, 20, 30, 40}

In [53]:
index[0]

NameError: name 'index' is not defined

In [54]:
# methods of set
#update
set1 = {'abc',123,12,123,'abc'}
set2 = {'green','brown',125,150}
set1.update(set2)
set1

{12, 123, 125, 150, 'abc', 'brown', 'green'}

In [55]:
#difference
set1={1,10,11,20,21,30}
set2={10,20,30}
set3=set1.difference(set2)
set3

{1, 11, 21}

In [58]:
#difference
set1={1,10,11,20,21,30}
set2={1,10,11,20,21,3} #only the unique elements of set 1 items are present in set 3
set3=set1.difference(set2)
set3

{30}

In [61]:
#difference_update
set1={1,10,11,20,21,30,31}
set2={8,9,10,20,30,40}  # it will update directly in set1 here there is no need of using another set3 like in above prgm
set1.difference_update(set2)
set1

{1, 11, 21, 31}

In [63]:
#intersection
num1={1,2,3,4,5,6} #it prints common elements in both sets into another variable ie result here.
num2={2,4,8,9,1,7}
result=num1.intersection(num2)
#num1.intersection(num2)
#num1
result

{1, 2, 4}

In [66]:
#intersection
num1={1,2,3,4,5,6}
num2={2,4,8,9,1,7}
num1.intersection_update(num2)
num1

{1, 2, 4}

In [70]:
#symmetric it returns a set of elements 
colors={"green","blue","white"}
games={"puzzle","pubg","ludo","white"}
result= colors.symmetric_difference(games)
print(result)

{'blue', 'puzzle', 'ludo', 'pubg', 'green'}

In [73]:
#symmetric it returns a set of elements 
colors={"green","blue","white"}
games={"puzzle","pubg","ludo"}
colors.symmetric_difference_update(games)
colors

{'blue', 'green', 'ludo', 'pubg', 'puzzle', 'white'}

In [76]:
num1={1,3,5}
num2={2,4}
result=num1.union(num2)
result

{1, 2, 3, 4, 5}

In [77]:
num1={1,3,5,2}
num2={2,4}
result=num1.union(num2)
result

{1, 2, 3, 4, 5}

In [79]:
colors={"green","blue","white","yellow"}
colors.discard("white")
colors

{'blue', 'green', 'yellow'}

In [ ]:
#tuple tasks
#python program to print names in tuple using iterations
#python program to print reverse of the given element in tuple

In [155]:
#task 1
tup=input()
for i in range(len(tup)):
  print (tup)

fiza,123
fiza,123
fiza,123
fiza,123
fiza,123
fiza,123
fiza,123
fiza,123
fiza,123

In [157]:
tup = input()
for elem in tup:
    print(elem)

fiza,123
f
i
z
a
,
1
2
3

In [131]:
#task 2
x=input("")
x=tup[::-1]
print(x)

123
321

In [109]:
#task 2
x = input("enter elements")
y = reversed(x)
print(tuple(y))

enter elements hafiza
('a', 'z', 'i', 'f', 'a', 'h', ' ')

In [122]:
#task 2
def reverse(tuples):
    new_tup=tuples[::-1]
    return new_tup
tuples=input()
print(reverse(tuples))

hafiza
azifah

In [135]:
#task 2
tup = input()
for i in range(len(tup)):
    print(tup[-(i+1)],end="")

hafiza,123,fiza,vinu,smiley
yelims,univ,azif,321,azifah

In [106]:
x=(10,20,30,40)
x[::-1]

(40, 30, 20, 10)